server:
  port: 8083

spring:
  application:
    name: seller-service

  datasource:
    url: jdbc:mysql://localhost:3306/seller_db
    username: root
    password: dipak

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org.hibernate.SQL: DEBUG
